{% extends 'base.html'%}
{% load static %}
        {% block title %}
ourVideo
        {% endblock %}

{% block x %}
<div class="fs-2 text-center">Video <b class="txt">Gallery
      <i class="fa-solid fa-circle-video"></i></b>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="row">
<!--            video-->
            {% for x in vdata %}
            <div class="col-sm-3">
                <div class="card">
                    <iframe class="w-100 img-cart-top"  src="{{x.vlink}}" title="YouTube video player"
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">{{x.vtitle}}</h5>
                       <a href="/user/details/?msg={{x.id}}" class="btn btn-sm bg-mycolor my-3">View More</a> <br>
                    </div>
                </div>
            </div>
            {% endfor %}
<!--            end video-->
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
{% endblock %}